In [1]:
from glob import glob
from os.path import join
import pandas as pd

%reload_ext autoreload
%autoreload 2

In [2]:
data_path = '../../data/locations/'

In [3]:
import json

In [4]:
from os import listdir
from os.path import isdir
from glob import glob

# Parse all semantic locations

In [8]:
cmb_semantic_history  = '../../data/locations/location_history_cmb/Location History/Semantic Location History'
smb_semantic_history  = '../../data/locations/location_history_smb/Location History/Semantic Location History'

In [9]:
places = []
for datapath in (smb_semantic_history, cmb_semantic_history):
    for dirpath in glob(join(datapath, '*')):
        for filepath in glob(join(dirpath, '*.json')):
            semantic_history = read_json(filepath)
            for place in semantic_history['timelineObjects']:
                if 'placeVisit' in place.keys():
                    visit = Visit(place['placeVisit'])
                    places.extend(visit.all_places)

In [10]:
places = pd.DataFrame(places)
places = places.drop_duplicates('id')

In [11]:
from postal.parser import parse_address

def fmt_address(address):
    if address is None:
        return {}
    else:
        return dict([(v,k) for k,v in parse_address(address)])

In [15]:
address_data = pd.DataFrame.from_records(places.address.apply(fmt_address).values.tolist(), index=places.index)
places = places.join(address_data)

In [ ]:
#places = places.join(address_data, how='left')

In [22]:
places.to_hdf('../../data/semantic_locations.hdf', 'data')

/Users/Sebi/.virtualenvs/web/lib/python3.6/site-packages/pandas/core/generic.py:2505: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->Index(['id', 'name', 'address', 'house_number', 'road', 'city', 'state',
       'postcode', 'country', 'unit', 'house', 'city_district', 'suburb',
       'state_district', 'po_box', 'level', 'island'],
      dtype='object')]

  encoding=encoding,

In [ ]:
from postal.parser import parse_address

def fmt_address(address):
    if address is None:
        return {}
    else:
        return dict([(v,k) for k,v in parse_address(address)])

In [364]:
fmt_address(x.address)

{'house_number': '5739',
 'road': 'n clark st',
 'city': 'chicago',
 'state': 'il',
 'postcode': '60660',
 'country': 'usa'}

In [ ]:
x

In [359]:
x = places.iloc[-1]
x

id                            ChIJB9FbYZrRD4gRDd3JOBKHV_Q
name                                                 None
latitude                                           41.988
longitude                                         -87.667
address           5739 N Clark St\nChicago, IL 60660\nUSA
house_number                                          NaN
road                                                  NaN
city                                                  NaN
state                                                 NaN
postcode                                              NaN
country                                               NaN
unit                                                  NaN
house                                                 NaN
city_district                                         NaN
suburb                                                NaN
state_district                                        NaN
po_box                                                NaN
level                                                 NaN
island                                                NaN
Name: 68594, dtype: object

In [7]:
def read_json(filepath):
    with open(filepath, 'r') as file:
        content = json.load(file)
    return content


class Location:
    
    def __init__(self, x):
        self.x = x
        
    @property
    def place_id(self):
        return self.x['placeId']
    
    @property
    def name(self):
        if 'name' in self.x.keys():
            return self.x['name']
        else:
            return None
    
    @property
    def latitude(self):
        return self.x['latitudeE7'] / 1E7
    
    @property
    def longitude(self):
        return self.x['longitudeE7'] / 1E7
    
    def to_json(self):
        return {
            'id': self.place_id,
            'name': self.name,
            'latitude': self.latitude,
            'longitude': self.longitude
        }

    
class Visit:
    def __init__(self, x):
        self.x = x
    
    @property
    def all_places(self):
        location = Location(self.x['location']).to_json()
        location['address'] = self.address
        locations = [location]
        
        if 'otherCandidateLocations' in self.x.keys():        
            for record in self.x['otherCandidateLocations']:
                try:
                    location = Location(record).to_json()
                    location['address'] = self.address
                    locations.append(location)
                except:
                    continue
                    
        return locations
    
    @property
    def latitude(self):    
        return self.x['centerLatE7'] / 1E7

    @property
    def longitude(self):    
        return self.x['centerLngE7'] / 1E7
    
    @property
    def gps(self):
        return [self.latitude, self.longitude]

    @property
    def place_id(self):    
        return self.x['location']['placeId']

    @property
    def name(self):        
        return self.x['location']['name']

    @property
    def address(self):    
        if 'address' in self.x['location']:
            return self.x['location']['address']
        else:
            return None

    @property
    def visit_confidence(self):    
        return self.x['visitConfidence']

    @property
    def place_confidence(self):
        return self.x['placeConfidence']

    @property
    def duration(self):    
        return self.time_stop - self.time_start

    @property
    def time_start(self):    
        return self.x['duration']['startTimestampMs']

    @property
    def time_stop(self):    

        return self.x['duration']['endTimestampMs']

In [269]:
class Coordinate:
    
    def __init__(self, latitude, longitude, altitude=None):
        self.latitude = latitude
        self.longitude = longitude
        self.altitude = altitude
        
    @property
    def radians(self):
        degrees_per_radian = 180/np.pi
        return (self.latitude/degrees_per_radian, self.longitude/degrees_per_radian)
    
    def __sub__(self, other):
        return self.compute_distance(*self.radians, *other.radians)
        
    @staticmethod
    def compute_distance(x1, y1, x2, y2, R=6371):
    
        dx = x1 - x2
        dy = y1 - y2

        a = (np.sin(dx/2))**2 + np.cos(x1) * np.cos(x2) * (np.sin(dy/2))**2

        c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))

        return R * c
    
    
class Ping(Coordinate):
    
    def __init__(self, timestamp, latitude, longitude, altitude=None, dx=None, dz=None):
        super().__init__(latitude, longitude, altitude)
        self.timestamp = timestamp
        self.dx = dx
        self.dz = dz
        
    @staticmethod
    def to_timestamp(t):
        return datetime.fromtimestamp(int(t)/1000).strftime('%Y-%m-%d %H:%M:%S') 
          
    @classmethod
    def from_dict(cls, adict):
        timestamp = cls.to_timestamp(adict['timestampMs'])
        latitude = adict['latitudeE7'] / 1e7
        longitude = adict['longitudeE7'] / 1e7 
        #dx = adict['accuracy']
        #altitude = adict['altitude']
        #dz = adict['verticalAccuracy']
        return Ping(timestamp, latitude, longitude, altitude, dx, dz)

In [288]:
import json
import pandas as pd
from datetime import datetime

def load_ping_data(filepath):
    
    # load records into dataframe
    with open(filepath, 'r') as file:
        pings = json.load(file)['locations']
                
    df = pd.DataFrame.from_records(pings)
    
    df['latitude'] = df['latitudeE7'] / 1e7
    df['longitude'] = df['longitudeE7'] / 1e7
    #df['ts'] = df['timestampMs'].apply(Ping.to_timestamp)
    df['timestamp'] = df.timestampMs.apply(lambda x: datetime.fromtimestamp(int(x)/1000))
    #df['t'] = df.timestampMs.apply(lambda x: int(x)/1e6)
    
    df = df.set_index('timestamp')
    
    keys = ['activity', 'heading', 'latitudeE7', 'longitudeE7', 
            'timestampMs', 'velocity', 'accuracy', 'verticalAccuracy']
    for key in keys:
        if key in df.columns:
            df = df.drop(key, axis=1)
    
    return df

In [289]:
from os.path import exists
smb_pings_path = '../../data/locations/location_history_smb/Location History/Location History.json'
cmb_pings_path = '../../data/locations/location_history_cmb/Location History/Location History.json'

In [290]:
smb_pings = load_ping_data(smb_pings_path)
cmb_pings = load_ping_data(cmb_pings_path)
smb_pings['owner'] = 'SMB'
cmb_pings['owner'] = 'CMB'

In [342]:
pings = pd.concat([smb_pings, cmb_pings])

In [352]:
pings.to_hdf('../../data/pings.hdf', 'data')

                         altitude   latitude   longitude owner
timestamp
2014-03-11 19:12:43.356       NaN  41.894308  -87.686883   SMB
2014-03-11 19:13:43.711       NaN  41.894308  -87.686883   SMB
2014-03-11 19:14:43.784       NaN  41.894308  -87.686883   SMB
2014-03-11 19:15:43.866       NaN  41.894308  -87.686883   SMB
2014-03-11 19:16:31.610       NaN  41.894308  -87.686883   SMB
...                           ...        ...         ...   ...
2019-10-22 17:18:07.000       0.0  37.615932 -122.390114   CMB
2019-10-22 17:35:51.263       0.0  37.623292 -122.405815   CMB
2019-10-22 17:42:35.495      51.0  37.684282 -122.465419   CMB
2019-11-03 13:33:35.391      22.0  33.742568 -116.284691   CMB
2019-11-03 13:35:36.420      22.0  33.742531 -116.284717   CMB

[262683 rows x 4 columns]